In [1]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
k = pd.Series(['a', 'b', 'c'])

print(i)
print()
print(k)

print(i.shape)
print(k.shape)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
(5,)
(3,)

In [2]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
k = pd.Series(['a', 'b', 'c'])

print(i)
print()
print(k)

print(i.ndim, k.ndim)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
1 1

In [3]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series(['a', 'b', 'c'])

print(i)
print()
print(j)

print(i.size)
print(j.size)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object
5
3

In [4]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50])
j = pd.Series(['a', 'b', 'c'])
k = pd.Series([])

print(i)
print()
print(j)
print()
print(k)

print(i.empty)
print(j.empty)
print(k.empty)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
dtype: object

Series([], dtype: float64)
False
False
True

<ipython-input-4-7cd31e04315d>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [5]:
import pandas as pd
import numpy as np

i = pd.Series([10,20,30,40,50, np.NaN])
j = pd.Series(['a', 'b', 'c'])
k = pd.Series([])

print(i)
print(j)
print(k)

print(i.hasnans)
print(j.hasnans)
print(k.hasnans)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5     NaN
dtype: float64
0    a
1    b
2    c
dtype: object
Series([], dtype: float64)
True
False
False

<ipython-input-5-a5896e206051>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [6]:
import pandas as pd

print(pd.__version__)

1.1.3

In [7]:
import pandas as pd

i = pd.Series([10,20,30,50,50],

index=['a','b','c','d','e'], dtype=float)

i

a    10.0
b    20.0
c    30.0
d    50.0
e    50.0
dtype: float64

In [8]:
import pandas as pd

i = pd.Series([10,20,30,50,50],
index=['a','b','c','d','e'],
dtype=float,
name="Data values")

i

a    10.0
b    20.0
c    30.0
d    50.0
e    50.0
Name: Data values, dtype: float64

In [9]:
import pandas as pd

i = pd.Series([10,20,30,50,50], index=['a','b','c','d','e'])

i

i[1:4]

b    20
c    30
d    50
dtype: int64

In [10]:
import pandas as pd

i = pd.Series([10,20,30,50,50], index=['a','b','c','d','e'])

i

min(i)

max(i)

50

In [11]:
import pandas as pd

i = pd.Series([10,20,30])
j = pd.Series([1,2,3])

print(i)
print(j)

i+j

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
dtype: int64

0    11
1    22
2    33
dtype: int64

In [12]:
import pandas as pd

i = pd.Series([10,20,30])
j = pd.Series([1,2,3, 4])

print(i)
print(j)

i+j

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [13]:
import pandas as pd

df = pd.DataFrame()

print (df)

Empty DataFrame
Columns: []
Index: []

In [14]:
import pandas as pd

i = [10,20,30,40,50,60]

df = pd.DataFrame(i)

print(df)

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [15]:
import pandas as pd

i = ["Item 1", "Item 2", "Item 3", "Item 4"]

df = pd.DataFrame(i)

print(df)

        0
0  Item 1
1  Item 2
2  Item 3
3  Item 4

In [16]:
import pandas as pd

i = ["Item 1", "Item 2", "Item 3", "Item 4", 10,20,30,20.25]

df = pd.DataFrame(i)

print(df)

        0
0  Item 1
1  Item 2
2  Item 3
3  Item 4
4      10
5      20
6      30
7   20.25

In [17]:
import pandas as pd

i = {'no' :[1, 2, 3], 'name' :['john','andy','sandra',]}

df = pd.DataFrame(i)

print (df)

   no    name
0   1    john
1   2    andy
2   3  sandra

In [18]:
import pandas as pd

i = {'no' :[1, 2, 3, 4],

'name' :['john','andy','sandra', 'jonny'],
'city': ['pune', 'mumbai', 'pune', 'mumbai']}

df = pd.DataFrame(i)

print (df)

   no    name    city
0   1    john    pune
1   2    andy  mumbai
2   3  sandra    pune
3   4   jonny  mumbai

In [19]:
import pandas as pd

i = {'no' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])}

d1 = pd.DataFrame(i)

print (d1)

   no
a   1
b   2
c   3
d   4
e   5

In [20]:
import pandas as pd

i = {'no' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'no1' : pd.Series([6, 7, 8], index=['a1', 'b1', 'c1'])
 }

d1 = pd.DataFrame(i)

print (d1)

     no  no1
a   1.0  NaN
a1  NaN  6.0
b   2.0  NaN
b1  NaN  7.0
c   3.0  NaN
c1  NaN  8.0